@media  screen and (max-width:576px) {

    /* Shared Design */


    .display-none{
    display: none;
}
/* Navigation Bar Responsiveness */

header nav{
    color:white;
    margin: 0 auto;
    width: 90%;
}


header nav .nav-hamburger{
    display:inline;
}


/* Hero section responsiveness */

.hero{
    padding: 40px 0;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:0% 25% ;
   
}

.hero .hero-content{
    width: 91%;
   
}
/* Hero content image section */
.hero .hero-content .hc-img{
    height: 200px;
    width: 200px;
    background: url(../assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 60px;
}
.hero .hero-content .hc-img span{
   
    top: 0;
    right:0;

}

.hero .hero-content .hc-img img{
    height: 80px;
    width: 80px;
    padding: 3.33px 16.67px 6.67px 16.67px ;
}

/* Header Responsiveness is completed */

/* main */
/* Podcast Rating starts Here */

.about{
    padding:40px 0px;
}

.about-div{
    width: 91%;
}

.about-div .about-podcast h3{
    font-size: 2rem;
}

.about-div hr{
    margin-top: 39.5px;
    margin-bottom: 39.5px;
}
.about-rating{
    grid-template-columns: repeat(2,1fr);
    gap:40px;
    
}
.about-rating h2{
    font-size: 2.5rem;

}
/* Podcast Rating Ends Here */
/* choose techwave section starts here */

.choose-techwave{
    padding:40px 0px;
}

.ct-container{
    width: 91%;
}
.ct-container h1{
    font-size: 2rem;

}


.ct-container .ct-content{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    gap:24px;
    margin-top:16px;
}

.ct-container .ct-content div{
    border-radius: 24px;
    padding:24px;
}
.audio,
.mobile,
.community,
.interview,
.resources{
    grid-row:span 1;
    grid-column: span 1;
    
}

.ct-container .ct-content div h4{
    font-size: 1.375rem;

}

/* choose techwave section ends here */

 /* Featured Episodes starts here  */

 .episodes-section{
    padding: 40px 0px;

 }
.episodes-section .e-container{
    width:91%;
    margin: 0 auto;
    /* color:white; */
}
.episodes-section .e-container>h1{
    font-size: 2rem;
    margin-bottom: 24px;
}
.video-episodes{
    grid-template-columns:1fr;
    gap:24px;
}
.video-episodes .episode{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    
    
}

.video-episodes .episode .contentofepisode{
    padding:16px;
}
.contentofepisode h5{
    font-size: 1.25rem;
}

.contentofepisode>p{
    margin: 8px 0px;
}


/* Host starts Here */
.host{
    margin-top: 60px;
}
.host>h1{
    font-size: 2rem;
    margin-bottom: 24px;
}
.host-content{
    flex-direction: column;
    padding:24px;
    text-align: center;
    row-gap:16px;
}
.host-content .host-bio{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.host-content .host-bio h1{
    font-size: 1.5rem;
}

.host-content .host-bio .host-contacts {
    justify-content: center;
}
 /* Featured Episodes ends here  */
                                    /* Main Ends Here */


                                /* Footer starts Here */

footer .footer{
    padding: 40px 0;
   
}
.footer-content{
    max-width: 91%;
    row-gap: 24px;
}
.footer-logo img{
    width:49%;

}
.social-platforms{
    width:255px;
    grid-template-columns: repeat(2,1fr);
    gap:16px;
    justify-content: center;
    align-items: center;
}

.plus{
    width: 152px;
}
/* End */
}