*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}

/* common classes  */
body{
     background-color: rgba(26, 11, 46, 1);
     color:white;
}
.gradient-btn{
     background: linear-gradient(45deg ,yellow , rgb(255, 4, 100)  , purple );
     color:rgba(255, 255, 255, 1);
    }

.basic-btn{
    border-radius: 10000px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

        /* Navigation Bar */

header{
    max-width: 1600px;
    /* background-color: rgba(26, 11, 46, 1); */
    margin: 0;
}

header nav{
    color:white;
    margin: 0 auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    

}
/* header nav .nav-logo{
    width: 219px;
} */
header nav ul{
    display: flex;
    list-style: none;
    gap:32px;
    font-size: 16px;
    font-weight: 500;
}

header nav .nav-button .btn-nav{
    
    padding: 12px 16px;
    

}
header nav .nav-button button img{
    background: transparent;
}

header nav .nav-hamburger{
    display: none;
}

header hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
/* Navigation is done */

.hero{
    /* height: 760px; */
    padding: 101px 0;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .hero-content{
    width: 550px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Hero content image section */
.hero .hero-content .hc-img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: url(../assets/hero-circle.png);
    padding: 69px 75px 81px 75px;
    position: relative;
}

.hero .hero-content .hc-img span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background-color: rgba(0, 255, 136, 1);
    position: absolute;
    top: 12px;
    right:23px;
    font-size: 16px;
    font-weight: 600;

}
.hero .hero-content .hc-img img{
    height: 200px;
    width: 200px;
    padding: 8.33px 41.67px 16.67px 41.67px;
}

/* Hero content content section */
.hero .hero-content .hc-content{
    text-align: center;
    color:white;
}

.hero .hero-content .hc-content h3{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}

.hero .hero-content .hc-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 24px;
    
}
.hcc-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.hero .hero-content .hc-content .hcc-first-btn{
    
    padding: 12px 20px;
    gap:8px;
   
    
}
.hero .hero-content .hc-content .normal-btn{
    color:rgba(0, 255, 136, 1);
    padding: 12px 20px;
    gap:8px;
    background: transparent;
    border: 1px solid rgba(0, 255, 136, 1);
}

/* Header is completed */

/* Main starts here */
/* Podcast rating */
main{
    max-width: 1600px;
}

.about{
    max-width: 100%;
    padding:50px 0px 120px 0px;
    
}

.about-div{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.about-div .about-podcast h3{
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-div .about-podcast p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}
.about-div hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-rating{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap:80px;
    
}
.about-rating h2{
    color: rgba(0, 255, 136, 1);
    font-size: 48px;
    font-weight: 900;
    margin-bottom:16px;
}
.about-rating p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
}

/* Podcast Rating Ends Here */
/* choose techwave section starts here */
.choose-techwave{
    max-width: 100%;
    background-color: rgba(35, 14, 61, 1);
    color:white;
    padding:120px 0px;
}

.ct-container{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.ct-container h1{
    font-size: 48px;
    font-weight: 700;
}


.ct-container .ct-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,225px) 273px;
    gap:30px;
    margin-top:40px;
}

.ct-container .ct-content div{
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.audio{
    grid-row:span 2;
    grid-column: span 1;
    
}
.mobile{
    grid-column: span 2;
    grid-row: span 1;
    
}
.community{
    grid-column: span 2;
    grid-row: span 1;
}
.interview{
    grid-column: span 2;
    grid-row: span 1;
}
.resources{
    grid-row: span 1;
    grid-column: span 1;
}
.ct-container .ct-content div p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    
}
.ct-container .ct-content div h4{
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0;
}

/* choose techwave section ends here */

 /* Featured Episodes starts here  */

 .episodes-section{
    max-width: 100%;
    padding: 120px 0px;

 }
.episodes-section .e-container{
    width:75%;
    margin: 0 auto;
    /* color:white; */
}
.episodes-section .e-container>h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.video-episodes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.video-episodes .episode{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    
    
}
.video-episodes .episode div iframe{
    width: 100%;
    height: 214px;
    border-radius: 24px 24px 0px 0px;
}

.video-episodes .episode .contentofepisode{
    padding:24px;
    text-align: left;
}
.contentofepisode h5{
    font-size: 24px;
    font-weight: 700;
}

.contentofepisode>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin: 12px 0px;
}

.contentofepisode .details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}


/* Host starts Here */
.host{
    margin-top: 120px;
}
.host>h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.host-content{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px;
}
.host-content .host-bio{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.host-content .host-bio h1{
    font-size: 32px;
    font-weight: 700;
}
.host-content .host-bio p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgba(255, 255, 255, 0.6);
}
.host-content .host-bio .host-contacts {
    display: flex;
    align-items: center;
    gap:8px;
}
.host-content .host-bio .host-contacts button{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);

}

 /* Featured Episodes Ends here  */
        /* Main Ends Here */
                                /* Footer starts Here */
footer{
    max-width: 1600px;
}
footer .footer{
    width:100%;
    /* height: 760px; */
    padding: 120px 0;
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
   
}
.footer-content{
    max-width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3,fr);
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}

.social-platforms{
    width:544px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
    justify-content: space-around;
}

.social-platforms p{
    display: flex;
    
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    gap: 8px;
}
.plus{
    width: 152px;
}
.copyright{
    color: rgba(250, 250, 250, .6);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* Footer Ends Here */