*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: rgba(26, 11, 46, 1);
}

        /* Navigation Bar */

header{
    max-width: 1600px;
}

header nav{
    color:white;
    margin: 0 auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

}
header nav ul{
    display: flex;
    list-style: none;
    gap:32px;
    font-size: 16px;
    font-weight: 500;
}

header nav .nav-button button{
    color:rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to top right,yellow 15%, rgb(255, 4, 100) 30% , purple 60% );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10000px;
    padding: 12px 16px;
    border: none;

}
header nav .nav-button button img{
    background: transparent;
}

header nav .nav-hamburger{
    display: none;
}